
:root {
  --dark-shade0: #2c2e5b;

  --dark-shade1: #444c72;

  --dark-shade2: #5b6a89;

  --dark-shade3: #7388a0;

  --dark-shade4: #8aa5b8;

  --dark-shade5: #a2c3cf;

  --dark-shade6: #b9e1e6;

  --dark-shade7: #d1fffd;

  --dark-accent0: #ff5877;

  --dark-accent1: #296489;

  --dark-accent2: #b58ddb;

  --dark-accent3: #9aff7a;

  --dark-accent4: #66fcf1;

  --dark-accent5: #d1e8e2;

  --dark-accent6: #b47676;

  --dark-accent7: #2e9cca;
}