
:root {
  --dark-shade0: hsl(208, 65%, 15%);
  --dark-shade0-h: 208;
  --dark-shade0-s: 65%;
  --dark-shade0-l: 15%;

  --dark-shade1: hsl(177, 100%, 91%);
  --dark-shade1-h: 177;
  --dark-shade1-s: 100%;
  --dark-shade1-l: 91%;

  --dark-shade2: hsl(177, 100%, 91%);
  --dark-shade2-h: 177;
  --dark-shade2-s: 100%;
  --dark-shade2-l: 91%;

  --dark-shade3: hsl(177, 100%, 91%);
  --dark-shade3-h: 177;
  --dark-shade3-s: 100%;
  --dark-shade3-l: 91%;

  --dark-shade4: hsl(177, 100%, 91%);
  --dark-shade4-h: 177;
  --dark-shade4-s: 100%;
  --dark-shade4-l: 91%;

  --dark-shade5: hsl(177, 100%, 91%);
  --dark-shade5-h: 177;
  --dark-shade5-s: 100%;
  --dark-shade5-l: 91%;

  --dark-shade6: hsl(0, 0%, 87%);
  --dark-shade6-h: 0;
  --dark-shade6-s: 0%;
  --dark-shade6-l: 87%;

  --dark-shade7: hsl(177, 100%, 91%);
  --dark-shade7-h: 177;
  --dark-shade7-s: 100%;
  --dark-shade7-l: 91%;

  --dark-accent0: hsl(349, 100%, 67%);
  --dark-accent0-h: 349;
  --dark-accent0-s: 100%;
  --dark-accent0-l: 67%;

  --dark-accent1: hsl(203, 54%, 35%);
  --dark-accent1-h: 203;
  --dark-accent1-s: 54%;
  --dark-accent1-l: 35%;

  --dark-accent2: hsl(64, 100%, 74%);
  --dark-accent2-h: 64;
  --dark-accent2-s: 100%;
  --dark-accent2-l: 74%;

  --dark-accent3: hsl(136, 100%, 73%);
  --dark-accent3-h: 136;
  --dark-accent3-s: 100%;
  --dark-accent3-l: 73%;

  --dark-accent4: hsl(176, 96%, 69%);
  --dark-accent4-h: 176;
  --dark-accent4-s: 96%;
  --dark-accent4-l: 69%;

  --dark-accent5: hsl(164, 33%, 86%);
  --dark-accent5-h: 164;
  --dark-accent5-s: 33%;
  --dark-accent5-l: 86%;

  --dark-accent6: hsl(199, 40%, 51%);
  --dark-accent6-h: 199;
  --dark-accent6-s: 40%;
  --dark-accent6-l: 51%;

  --dark-accent7: hsl(222, 100%, 78%);
  --dark-accent7-h: 222;
  --dark-accent7-s: 100%;
  --dark-accent7-l: 78%;

  --light-shade0: hsl(189, 100%, 95%);
  --light-shade0-h: 189;
  --light-shade0-s: 100%;
  --light-shade0-l: 95%;

  --light-shade1: hsl(203, 40%, 83%);
  --light-shade1-h: 203;
  --light-shade1-s: 40%;
  --light-shade1-l: 83%;

  --light-shade2: hsl(211, 27%, 72%);
  --light-shade2-h: 211;
  --light-shade2-s: 27%;
  --light-shade2-l: 72%;

  --light-shade3: hsl(218, 23%, 60%);
  --light-shade3-h: 218;
  --light-shade3-s: 23%;
  --light-shade3-l: 60%;

  --light-shade4: hsl(222, 21%, 48%);
  --light-shade4-h: 222;
  --light-shade4-s: 21%;
  --light-shade4-l: 48%;

  --light-shade5: hsl(227, 31%, 37%);
  --light-shade5-h: 227;
  --light-shade5-s: 31%;
  --light-shade5-l: 37%;

  --light-shade6: hsl(230, 49%, 25%);
  --light-shade6-h: 230;
  --light-shade6-s: 49%;
  --light-shade6-l: 25%;

  --light-shade7: hsl(232, 100%, 14%);
  --light-shade7-h: 232;
  --light-shade7-s: 100%;
  --light-shade7-l: 14%;

  --light-accent0: hsl(349, 100%, 67%);
  --light-accent0-h: 349;
  --light-accent0-s: 100%;
  --light-accent0-l: 67%;

  --light-accent1: hsl(187, 46%, 54%);
  --light-accent1-h: 187;
  --light-accent1-s: 46%;
  --light-accent1-l: 54%;

  --light-accent2: hsl(285, 36%, 66%);
  --light-accent2-h: 285;
  --light-accent2-s: 36%;
  --light-accent2-l: 66%;

  --light-accent3: hsl(189, 100%, 50%);
  --light-accent3-h: 189;
  --light-accent3-s: 100%;
  --light-accent3-l: 50%;

  --light-accent4: hsl(239, 86%, 57%);
  --light-accent4-h: 239;
  --light-accent4-s: 86%;
  --light-accent4-l: 57%;

  --light-accent5: hsl(238, 100%, 32%);
  --light-accent5-h: 238;
  --light-accent5-s: 100%;
  --light-accent5-l: 32%;

  --light-accent6: hsl(262, 100%, 50%);
  --light-accent6-h: 262;
  --light-accent6-s: 100%;
  --light-accent6-l: 50%;

  --light-accent7: hsl(198, 63%, 49%);
  --light-accent7-h: 198;
  --light-accent7-s: 63%;
  --light-accent7-l: 49%;
}