
:root {
  --dark-shade0: rgb(44, 46, 91);
  --dark-shade0-r: 44;
  --dark-shade0-g: 46;
  --dark-shade0-b: 91;

  --dark-shade1: rgb(68, 76, 114);
  --dark-shade1-r: 68;
  --dark-shade1-g: 76;
  --dark-shade1-b: 114;

  --dark-shade2: rgb(91, 106, 137);
  --dark-shade2-r: 91;
  --dark-shade2-g: 106;
  --dark-shade2-b: 137;

  --dark-shade3: rgb(115, 136, 160);
  --dark-shade3-r: 115;
  --dark-shade3-g: 136;
  --dark-shade3-b: 160;

  --dark-shade4: rgb(138, 165, 184);
  --dark-shade4-r: 138;
  --dark-shade4-g: 165;
  --dark-shade4-b: 184;

  --dark-shade5: rgb(162, 195, 207);
  --dark-shade5-r: 162;
  --dark-shade5-g: 195;
  --dark-shade5-b: 207;

  --dark-shade6: rgb(185, 225, 230);
  --dark-shade6-r: 185;
  --dark-shade6-g: 225;
  --dark-shade6-b: 230;

  --dark-shade7: rgb(209, 255, 253);
  --dark-shade7-r: 209;
  --dark-shade7-g: 255;
  --dark-shade7-b: 253;

  --dark-accent0: rgb(255, 88, 119);
  --dark-accent0-r: 255;
  --dark-accent0-g: 88;
  --dark-accent0-b: 119;

  --dark-accent1: rgb(41, 100, 137);
  --dark-accent1-r: 41;
  --dark-accent1-g: 100;
  --dark-accent1-b: 137;

  --dark-accent2: rgb(181, 141, 219);
  --dark-accent2-r: 181;
  --dark-accent2-g: 141;
  --dark-accent2-b: 219;

  --dark-accent3: rgb(154, 255, 122);
  --dark-accent3-r: 154;
  --dark-accent3-g: 255;
  --dark-accent3-b: 122;

  --dark-accent4: rgb(102, 252, 241);
  --dark-accent4-r: 102;
  --dark-accent4-g: 252;
  --dark-accent4-b: 241;

  --dark-accent5: rgb(209, 232, 226);
  --dark-accent5-r: 209;
  --dark-accent5-g: 232;
  --dark-accent5-b: 226;

  --dark-accent6: rgb(180, 118, 118);
  --dark-accent6-r: 180;
  --dark-accent6-g: 118;
  --dark-accent6-b: 118;

  --dark-accent7: rgb(46, 156, 202);
  --dark-accent7-r: 46;
  --dark-accent7-g: 156;
  --dark-accent7-b: 202;
}